// showing default values
$accentColor = #6a8bad 
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

@import url('https://fonts.googleapis.com/css?family=Open+Sans')

/* Regular */
@font-face 
  font-family 'Open Sans'
  font-weight normal
  font-weight 400
  font-style normal

/* Italic */
@font-face 
  font-family 'Open Sans'
  font-weight normal
  font-weight 400
  font-style italic

/* Light */
@font-face
  font-family 'Open Sans'
  font-weight 200
  font-style normal

/* Light Italic */
@font-face 
  font-family 'Open Sans'
  font-weight 200
  font-style italic


/* Semibold */
@font-face
  font-family 'Open Sans'
  font-weight 500
  font-style normal

/* Semibold Italic */
@font-face
  font-family 'Open Sans'
  font-weight 500
  font-style italic

/* Bold */
@font-face
  font-family 'Open Sans'
  font-weight bold
  font-weight 700
  font-style normal

/* Bold Italic */
@font-face
  font-family 'Open Sans'
  font-weight bold
  font-weight 700
  font-style italic

/* Extra Bold */
@font-face
  font-family 'Open Sans'
  font-weight 900
  font-style normal

/* Extra Bold Italic */
@font-face
  font-family 'Open Sans'
  font-weight 900
  font-style italic

html,body,div,button
  font-family 'Open Sans'

.content blockquote
  font-size 1rem

.home .hero .action-button
  background-color white
  color black
  border-bottom 0px
  > a
  &:hover
    background-color white
  

